/* 
Variables
*/
:root {
    /* Colors */
    --color-primary: hsl(4, 100%, 67%);
    --color-blue-800: hsl(234, 29%, 20%);
    --color-blue-700: hsl(235, 18%, 26%);
    --color-grey: hsl(0, 0%,58%);
    --color-white: hsl(0, 0%, 100%);
    --color-red-200: hsl(5, 100%, 95%);
    --color-red-500: hsl(6, 70%, 65%);

    /* Font size */
    --text-250: 2.5rem;
    --text-100: 1rem;
    --text-75: 0.75rem;

    /* Radius */
    --radius-100: 0.625rem;

    /* Space */
    --space-50: 0.5rem;
    --space-100: 1rem;
    --space-125: 1.25rem;
    --space-150: 1.5rem;
    --space-200: 2rem;
    --space-775: 7.75rem;
    --space-1650: 16.5rem;
}


/* 
Base styles
*/
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
    font-size: var(--text-100);
    font-weight: 400;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-blue-800);
    color: var(--color-blue-700);
}
h1 {
    margin: 0;
    font-size: var(--text-250);
    font-weight: 700;
    line-height: 1;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
input {
    padding: 0;
    border: none;
}
button {
    padding: 0;
    border: none;
}
/* 
Footer
*/
.attribution {
    font-size: 0.6875rem; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
