/* 
Variables
*/
:root {
    /* Colors */
    --color-primary: hsl(4, 100%, 67%);
    --color-blue-800: hsl(234, 29%, 20%);
    --color-blue-700: hsl(235, 18%, 26%);
    --color-grey: hsl(0, 0%,58%);
    --color-white: hsl(0, 0%, 100%);
    --color-red-200: hsl(5, 100%, 95%);
    --color-red-500: hsl(6, 70%, 65%);

    /* Font size */
    --text-350: 3.5rem;
    --text-250: 2.5rem;
    --text-100: 1rem;
    --text-75: 0.75rem;

    /* Radius */
    --radius-100: 0.625rem;
    --radius-250: 2.1875rem;

    /* Space */
    --space-50: 0.5rem;
    --space-100: 1rem;
    --space-125: 1.25rem;
    --space-150: 1.5rem;
    --space-200: 2rem;
    --space-250: 2.5rem;
    --space-280: 2.875rem;
    --space-300: 3rem;
    --space-400: 4rem;
    --space-775: 7.75rem;
    --space-1650: 16.5rem;
}


/* 
Base styles
*/
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
    font-size: var(--text-100);
    font-weight: 400;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-blue-800);
    color: var(--color-blue-700);
}
h1 {
    margin: 0;
    font-size: clamp(var(--text-250), 5vw, var(--text-350));
    font-weight: 700;
    line-height: 1;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
input,
button {
    padding: 0;
    font: inherit;
    border: none;
}


/* 
Newsletter
*/
.newsletter {
    width: clamp(23.4375rem, 80vw, 58rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-white);
}
.newsletter__image {
    display: block;
    width: 100%;
}
.newsletter__content {
    padding-block: var(--space-200);
    padding-inline-start: clamp(var(--space-150), 5vw, var(--space-250));
    padding-inline-end: clamp(var(--space-150), 5vw, var(--space-400));
}
.newsletter__description {
    margin: var(--space-125) 0;
}
.newsletter__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-50);
}
.newsletter__item {
    display: flex;
    align-items: flex-start;
    gap: var(--space-100);
}
/* .newsletter__icon {} */
.newsletter__form {
    margin-block-start: var(--space-200);
}
.newsletter__header {
    display: flex;
    justify-content: space-between;
    margin-block-end: var(--space-50);
    font-size: var(--text-75);
    font-weight: 700;
}
/* .newsletter__label {} */
.newsletter__input {
    width: 100%;
    height: 3.5rem;
    margin-block-end: var(--space-150);
    padding-inline-start: var(--space-150);
    border: 1px solid var(--color-grey);
    border-radius: var(--radius-100);
}
.newsletter__button {
    width: 100%;
    height: 3.5rem;
    color: var(--color-white);
    background-color: var(--color-blue-800);
    border-radius: var(--radius-100);
}
.newsletter__input:hover,
.newsletter__input:focus {
    cursor: pointer;
}
.newsletter__button:hover,
.newsletter__button:focus {
    background-color: var(--color-primary);
    cursor: pointer;
}


/* 
Error
*/
.newsletter__error {
    color: var(--color-red-500);
}
.newsletter__input--error {
    color: var(--color-red-500);
    background-color: var(--color-red-200);
    border-color: var(--color-red-500);
}


/* 
Thankyou
*/
.thankyou {
    width: clamp(23.4375rem, 80vw, 31.5rem);
    min-height: 100vh;
    padding: var(--space-300) var(--space-150) 0;
    background-color: var(--color-white);
}
.thankyou__image {
    margin: var(--space-775) 0 var(--space-200);
}
.thankyou__description {
    margin-block-start: var(--space-150);
}
/* .thankyou__email {} */
.thankyou__button {
    width: 100%;
    height: 3.5rem;
    margin-block-start: var(--space-1650);
    color: var(--color-white);
    background-color: var(--color-blue-800);
    border-radius: var(--radius-100);
}
.thankyou__button:hover, 
.thankyou__button:focus {
    background-color: var(--color-primary);
    cursor: pointer;
}


/* 
Utilities
*/
.is-hidden {
    display: none;
}


/* 
Responsive
*/
@media (min-width: 48rem) {
    .newsletter {
        min-height: auto;
        padding: var(--space-150);
        flex-direction: row-reverse;
        border-radius: var(--radius-250);
    }
    .thankyou {
        min-height: auto;
        padding: var(--space-400);
        padding-block-start: var(--space-280);
        border-radius: var(--radius-250);
    }
    .thankyou__image {
        margin: 0;
        margin-block-end: var(--space-250);
    }
    .thankyou__button {
        margin: 0;
        margin-block-start: var(--space-250);
    }
}


/* 
Footer
*/
.attribution {
    font-size: 0.6875rem; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
